@mixin text-clamp($lines: 2, $line-height: false) {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	display: -webkit-box;
	display: -moz-box;
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all;

	// Fallback for non-Webkit browsers
	// (won't show `…` at the end of the block)
	@if $line-height {
		max-height: $line-height * $lines * 1px;
	}
}