@import './uploader';

.fiberpos-uploader {
	&__modal {
		.btn i {
			padding-right: 5px;
		}


		* {
			font-family: Poppins;
			font-size: 1.1rem;
			font-weight: 500;
		}


		i.fa,
		i.fas,
		i.far {
			font-family: "Font Awesome 5 Free";
			font-weight: 900 !important;
		}
	}
}
