<template>
    <div ref="refFiberposUploader">
        <div v-if="isUploaderTypeSingle">
            <uploader-trigger
                :modal-id="modalId"
                :for-element="forElement"
                :uploader-type="uploaderType"
                :file-type="fileType"
                css-class="w-100"
            >
                <template v-slot:before>
                    <slot name="before"></slot>
                </template>
                <template v-slot:text>
                    <slot name="text"></slot>
                </template>
                <template v-slot:content>
                    <slot name="content"></slot>
                </template>
            </uploader-trigger>

            <uploader-modal
                :for-element="forElement"
                :type="type"
                :modal-id="modalId"
                :modal-title="modalTitle"
                :added-files="addedFiles"
                :uploader-type="uploaderType"
                :file-type="fileType"
                :has-image-cropper="hasImageCropper"
                :allowed-mime-types="allowedMimeTypes"
            ></uploader-modal>
        </div>

        <!-- NOTE: FOR REFACTOR, MULTIPLE FILES UPLOADER -->
        <div class="row" v-if="isTypeFiles">
            <div class="col-md-12">
                <h5 class="fiberpos-uploader__title">
                    <span class="d-none">Selected Media Files</span>
                    <uploader-trigger
                        :type="type"
                        :modal-id="modalId"
                        :for-element="forElement"
                        :uploader-type="uploaderType"
                        :file-type="fileType"
                        v-if="!isReadOnly"
                    >
                        <i class="fa fa-paperclip"></i>Attach Files
                    </uploader-trigger>
                </h5>

                <uploader-staging
                    :modal-id="modalId"
                    :current-added-files="addedFiles"
                    custom-css-classes="staging-list--height-auto"
                    :is-read-only="isReadOnly"
                ></uploader-staging>

                <uploader-modal
                    :for-element="forElement"
                    :type="type"
                    :modal-id="modalId"
                    :modal-title="modalTitle"
                    :added-files="addedFiles"
                    :uploader-type="uploaderType"
                    :file-type="fileType"
                    :has-image-cropper="hasImageCropper"
                    :allowed-mime-types="allowedMimeTypes"
                ></uploader-modal>
            </div>
        </div>

        <!-- NOTE: DEPRECATED BLOCK -->
        <div v-if="isTypeAvatar">
            <uploader-trigger
                :type="type"
                :for-element="forElement"
            >
                <slot></slot>
            </uploader-trigger>
        </div>
    </div>
</template>
<script>
    import UploaderTrigger from "./UploaderTrigger";
    import UploaderModal from "./UploaderModal";
    import UploaderStaging from "./UploaderStaging";
    import ImageBox from "./UploaderImageBox";

    import * as UPLOAD_TYPE from '../assets/js/utility/upload-types';

    export default {
        components: {
            UploaderTrigger,
            UploaderModal,
            ImageBox,
            UploaderStaging
        },

        props: {
            type: {
                required: false,
                type: String
            },
            forElement: {
                required: true,
                type: String
            },
            modalId: {
                required: false,
                type: String,
                default: ''
            },
            modalTitle: {
                required: false,
                type: String,
                default: 'Media Library'
            },
            dataContent: {
                type: Array,
                default: () => {
                    return []
                }
            },
            isReadOnly: {
                type: Boolean,
                default: false
            },
            uploaderType: {
                required: false,
                type: String,
                default: 'multiple'
            },
            fileType: {
                required: false,
                type: String,
                default: 'image'
            },
            hasImageCropper: {
                type: Boolean,
                default: false
            },
            allowedMimeTypes: {
                required: false,
                type: Array
            }
        },

        data() {
            return {
                addedFiles: this.dataContent || []
            }
        },

        computed: {
            // NOTE: FOR REFACTOR, MULTIPLE FILES UPLOADER
            isTypeFiles() {
                return this.type === UPLOAD_TYPE.FILE_TYPE_FILES
            },

            // NOTE: DEPRECATED CODE FOR UPLOADER_TYPE
            isTypeAvatar() {
                return this.type === UPLOAD_TYPE.FILE_TYPE_AVATAR
            },

            isUploaderTypeSingle() {
                return this.uploaderType === UPLOAD_TYPE.FILE_SINGLE
            },

            isUploaderTypeMultiple() {
                return this.uploaderType === UPLOAD_TYPE.FILE_MULTIPLE
            },

            isFileTypeImage() {
                return this.fileType === UPLOAD_TYPE.FILE_TYPE_IMAGE
            },

            isFileTypeDocument() {
                return this.fileType === UPLOAD_TYPE.FILE_TYPE_DOCUMENT
            }
        },

        mounted() {
            let _self = this;

            this.clearSessionStorage();

            this.$root.$on('get::staging::added', (list) => {
                this.addedFiles = list;
            });

            // Uploader will use this when `type` is `files` and remove file occurred in the page and not in the modal
            this.$root.$on('on::staging::remove', (item) => {
                _self.addedFiles.forEach(function (value, index) {
                    if (item.name === value.name) {
                        _self.addedFiles.splice(index, 1);
                    }
                });

                window.sessionStorage.setItem(`fiberpos_media_files_${item.modalId}`, JSON.stringify(_self.addedFiles));
            });
        },

        methods: {
            clearSessionStorage() {
                // Clears all session storage items related to `fiberpos-uploader`
                Object.keys(window.sessionStorage)
                    .filter(function (k) {
                        return /fiberpos_media_file_/.test(k);
                    })
                    .forEach(function (k) {
                        window.sessionStorage.removeItem(k);
                    });

                Object.keys(window.sessionStorage)
                    .filter(function (k) {
                        return /fiberpos_media_files_/.test(k);
                    })
                    .forEach(function (k) {
                        window.sessionStorage.removeItem(k);
                    });
            }
        }
    };
</script>

<style lang="scss">
    @import '../assets/scss/variables-override';
    @import '../assets/scss/bootstrap-custom';
    @import '../assets/scss/fonts';
    @import '~@fortawesome/fontawesome-free/scss/fontawesome';
    @import '../assets/scss/styles';
</style>

<style scoped lang="scss">
    @import "../assets/scss/uploader";

    .fiberpos-uploader {
        &__title {
            margin-bottom: 15px;

            span {
                display: inline-block;
                line-height: 38px;
            }

            button {
                float: right;
            }
        }
    }
</style>
