<template>
    <b-modal
        class="fiberpos-uploader__modal"
        :ref="`refModal${modalId}`"
        :id="modalId"
        size="xl"
        @shown="onModalShow"
        @hidden="onModalHidden"
    >
        <template slot="modal-header">
            <h5 class="fiberpos-uploader__title">
                <i class="fas fa-photo-video"></i>{{ modalTitle }}
            </h5>
        </template>

        <template slot="default">
            <div class="fiberpos-uploader-container">
                <div class="media-search-filter border-bottom row">
                    <div class="col-md-6 col-lg-8 col-xl-4 mb-3">
                        <b-input-group>
                            <b-input-group-text
                                slot="prepend"
                                class="bg-primary text-light"
                            >
                                <label for="searchMediaName" class="m-0">Search</label>
                            </b-input-group-text>

                            <b-form-input
                                ref="refSearchMediaName"
                                placeholder="Filename"
                                id="searchMediaName"
                                v-model="searchMediaName"
                                @keyup.enter="searchMedia"
                            ></b-form-input>

                            <b-input-group-append>
                                <b-button
                                    class="media-search-filter__button"
                                    variant="success"
                                    @click="searchMedia"
                                >
                                    <i class="fa fa-search"></i>
                                </b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </div>

                    <div class="col-md-3 col-lg-4 col-xl-2 mb-3">
                        <b-input-group>
                            <b-input-group-text
                                slot="prepend"
                                class="bg-primary text-light"
                            >
                                <label for="sortBy" class="m-0">Sort</label>
                            </b-input-group-text>
                            <b-form-select
                                id="sortBy"
                                :options="sortByOptions"
                                v-model="sortBy"
                                @change="getS3Files(true)"
                            ></b-form-select>
                        </b-input-group>
                    </div>

                    <div class="col-md-3 col-lg-12 col-xl-6 mb-3 text-right">
                        <uploader-cropper
                            :for-element="forElement"
                            :uploader-type="uploaderType"
                            :file-type="fileType"
                            :allowed-mime-types="allowedMimeTypes"
                            v-if="hasImageCropper"
                        >
                            <b-button variant="primary">
                                <span v-if="isAddNewButton"><i class="fa fa-plus"></i>Add File</span>
                                <span v-if="isReplaceButton"><i class="fa fa-redo"></i>Replace</span>
                            </b-button>
                        </uploader-cropper>

                        <b-button
                            variant="primary"
                            @click="$refs.fileInput.click()"
                            v-if="!hasImageCropper"
                        >
                            <span v-if="isAddNewButton"><i class="fa fa-plus"></i>Add File</span>
                            <span v-if="isReplaceButton"><i class="fa fa-redo"></i>Replace File</span>
                        </b-button>

                        <input
                            name="imgFile"
                            type="file"
                            ref="fileInput"
                            class="d-none"
                            :multiple="!isUploaderTypeSingle"
                            :accept="allowedMimeTypes"
                            @change="addToStagingNewFile"
                        />
                    </div>
                </div>

                <div class="media-selection">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12 py-3">
                                    <h5
                                        class="border-bottom bg-primary text-light py-2 px-3"
                                        v-show="s3.length"
                                    >Select file from Cloud</h5>

                                    <ul
                                        ref="refS3FilesList"
                                        class="s3-files-list border-right"
                                        @scroll="onScroll"
                                        v-show="s3.length"
                                    >
                                        <li
                                            class="s3-files-list-item"
                                            :title="item.name"
                                            v-for="(item, index) in s3"
                                            @click="addToStagingFromLibrary(item, index)"
                                        >
                                            <div
                                                class="s3-files-list-item__container"
                                                :class="{'s3-files-list-item__container--not-image': !isFileTypeImage(item)}"
                                            >

                                                <div class="s3-files-list-item__image" v-if="isFileTypeImage(item)">
                                                    <image-box
                                                        :src="item.src"
                                                        :title="item.name"
                                                    ></image-box>
                                                </div>

                                                <div class="s3-files-list-item__file" v-if="isFileTypeGeneral(item)">
                                                    <i :class="isWhichFile(item)"></i>
                                                </div>

                                                <div class="s3-files-list-item__details">
                                                    <div class="s3-files-list-item__name">
                                                        <span>{{ item.name }}</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class="s3-files-list-item--is-checked"
                                                    v-if="item.is_checked === true"
                                                >
                                                    <i class="fa fa-check-circle"></i>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="s3-files-list--loader">
                                            <div v-show="isLoadingS3">
                                                <b-spinner small label="" class="mr-2 vertical-middle"></b-spinner> Getting more files...
                                            </div>
                                            <div class="border border-primary text-primary p-3" v-show="!hasPaginateData && !isLoadingS3">
                                                All files are loaded
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="s3-files-list--empty pt-3 border-right" v-show="!s3.length">
                                        <h4 class="text-center" v-show="!isLoadingS3">
                                            <i class="fa fa-exclamation-triangle text-danger pr-2"></i> No Files in Cloud
                                        </h4>
                                        <h4 class="text-center" v-show="isLoadingS3">
                                            <b-spinner small label="" class="mr-2 vertical-middle" style="font-size: 1rem;"></b-spinner> Getting files from Cloud...
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media-add-new pt-3">
                                <div class="w-100 text-right">
                                    <uploader-staging
                                        :current-added-files="selectedMediaFiles"
                                        :is-from-modal="true"
                                    ></uploader-staging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template slot="modal-footer">
            <b-button size="md" variant="success" @click="okStaging">
                <i class="fa fa-check"></i>OK
            </b-button>
            <b-button size="md" variant="danger" @click="cancelStaging">
                <i class="fa fa-times-circle"></i>Cancel
            </b-button>
        </template>
    </b-modal>
</template>
<script>
    import ImageBox from "./UploaderImageBox";
    import UploaderCropper from './UploaderCropper';
    import UploaderStaging from "./UploaderStaging";
    import {
        getMediaLibrary as apiGetMediaLibrary,
    } from "../assets/js/api/resources";
    import mixin from '../mixins';
    import * as UPLOAD_TYPE from "../assets/js/utility/upload-types";

    export default {
        components: {
            ImageBox,
            UploaderStaging,
            UploaderCropper
        },
        props: {
            type: {
                required: false,
                type: String
            },
            forElement: {
                required: true,
                type: String
            },
            modalId: {
                required: true,
                type: String
            },
            modalTitle: {
                required: true,
                type: String
            },
            addedFiles: {
                type: Array,
                default: []
            },
            uploaderType: {
                required: false,
                type: String,
                default: 'multiple'
            },
            fileType: {
                required: false,
                type: String,
                default: 'image'
            },
            hasImageCropper: {
                type: Boolean,
                default: false
            },
            allowedMimeTypes: {
                required: false,
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                addedLocalFiles: [],
                addedLocalFilesDetails: [],
                addedLocalFilesBlob: [],
                recentAddedFile: {},
                addedLibraryFiles: [],
                searchMediaName: '',
                searchedKey: '',
                filterBy: 'date',
                filterOptions: [
                    {value: 'date', text: 'Date'},
                    {value: 'name', text: 'Name'}
                ],
                sortBy: 'desc',
                sortByOptions: [
                    {value: 'desc', text: 'Latest'},
                    {value: 'asc', text: 'Oldest'}
                ],
                selectedMediaFiles: [],
                s3: [],
                listPage: 1,
                isLoadingS3: false,
                hasPaginateData: false,
                sessionStorageForSingle: `fiberpos_media_file_${this.forElement}`,
                sessionStorageForMultiple: `fiberpos_media_files_${this.modalId}`
            }
        },
        computed: {
            isReplaceButton() {
                return this.selectedMediaFiles.length && this.isUploaderTypeSingle
            },
            isAddNewButton() {
                return !this.selectedMediaFiles.length || this.uploaderType === UPLOAD_TYPE.FILE_MULTIPLE || this.type === UPLOAD_TYPE.FILE_TYPE_FILES
            },
            isUploaderTypeSingle() {
                return this.uploaderType === UPLOAD_TYPE.FILE_SINGLE
            }
        },
        mounted() {
            let _self = this;

            this.$root.$on('on::modal::staging::remove', (item) => {
                _self.addedLocalFiles.forEach(function (value, index) {
                    if (item.name === value.name) {
                        _self.addedLocalFiles.splice(index, 1);
                        _self.addedLocalFilesDetails.splice(index, 1);
                        _self.addedLocalFilesBlob.splice(index, 1);
                    }
                });
                _self.selectedMediaFiles.forEach(function (value, index) {
                    if (item.name === value.name) {
                        _self.selectedMediaFiles.splice(index, 1);
                    }
                });
                _self.addedLibraryFiles.forEach(function (value, index) {
                    if (item.name === value.name) {
                        _self.addedLibraryFiles.splice(index, 1);
                    }
                });
                _self.s3.forEach(function (value) {
                    if (value.id === item.id) {
                        value.is_checked = false;
                    }
                });
            });
        },
        methods: {
            onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
                if (Math.ceil(scrollTop) + Math.ceil(clientHeight) >= scrollHeight) {

                    // Prevents multiple request
                    if (this.isLoadingS3) {
                        return;
                    }

                    this.getS3Files(false);
                }
            },
            getS3Files(reset) {
                let _self = this;
                if (reset) {
                    _self.s3 = [];
                    _self.listPage = 1;
                }

                _self.isLoadingS3 = true;

                apiGetMediaLibrary(_self.listPage, _self.searchedKey, _self.sortBy, ({responseData}) => {
                    _self.hasPaginateData = !!responseData.length;

                    responseData.forEach(function (value) {
                        let template = {
                            from: 's3',
                            id: value.id,
                            is_checked: false,
                            name: value.originalFilename,
                            src: value.url,
                            type: value.mimeType
                        };
                        _self.s3.push(template);
                    });

                    if (_self.selectedMediaFiles) {
                        _self.selectedMediaFiles.forEach(function (value) {
                            if (value.from === 's3') {
                                _self.s3.forEach(function (s3Value) {
                                    if (value.id === s3Value.id) {
                                        s3Value.is_checked = true;
                                    }
                                });
                            }
                        });
                    }

                    _self.isLoadingS3 = false;
                    _self.listPage++;
                });
            },
            removeSelectedIfSingleFile() {
                if (this.uploaderType === UPLOAD_TYPE.FILE_SINGLE) {
                    this.clearAllMedia()
                }
            },
            clearAllMedia() {
                this.addedLibraryFiles = [];
                this.addedLocalFiles = [];
                this.addedLocalFilesBlob = [];
                this.addedLocalFilesDetails = [];
                this.selectedMediaFiles = [];
                this.s3.forEach(function (value) {
                    value.is_checked = false;
                });
            },
            resetFilters() {
                this.searchMediaName = '';
                this.searchedKey = '';
                this.sortBy = 'desc';
            },
            addToStagingFromLibrary(item, index) {
                let _self = this;

                let errorMessage = _self.validateFile(item, _self.allowedMimeTypes);
                if (errorMessage) {
                    _self.showToastError('Invalid File Type', errorMessage);
                    return;
                }

                this.removeSelectedIfSingleFile();

                if (item.is_checked) {
                    item.is_checked = false;
                    this.addedLibraryFiles.splice(index, 1);

                    _self.selectedMediaFiles.forEach(function (selectedFileValue, selectedFileIndex) {
                        if (item.name === selectedFileValue.name) {
                            _self.selectedMediaFiles.splice(selectedFileIndex, 1);
                        }
                    });

                    return;
                }

                item.is_checked = true;
                this.addedLibraryFiles.push(item);
                this.selectedMediaFiles.push(item);
            },
            addImageFromCropper(croppedImageDetails) {
                let _self = this;

                _self.removeSelectedIfSingleFile();

                _self.addedLocalFilesBlob.push(croppedImageDetails.src);

                _self.storeFileDetails(croppedImageDetails);

                _self.addedLocalFiles = _self.addedLocalFiles.concat(croppedImageDetails);
                _self.selectedMediaFiles = _self.selectedMediaFiles.concat(croppedImageDetails);
            },
            addToStagingNewFile(e) {
                let _self = this;
                let fileList = e.target.files || e.dataTransfer.files;

                _self.removeSelectedIfSingleFile();

                if (!fileList.length) {
                    return;
                }

                Array.from(fileList).forEach(function (value, index) {
                    let reader = new FileReader();

                    reader.onload = (e) => {
                        _self.addedLocalFilesBlob.push(e.target.result);
                    };

                    let errorMessage = _self.validateFile(fileList[index], _self.allowedMimeTypes);
                    if (errorMessage) {
                        _self.showToastError('Invalid File Type', errorMessage);
                        return;
                    }

                    reader.readAsDataURL(fileList[index]);
                    _self.storeFileDetails(fileList[index])
                });

                setTimeout(function () {
                    _self.addedLocalFilesDetails.forEach(function (value, index) {
                        value.src = _self.addedLocalFilesBlob[index];
                    });

                    _self.addedLocalFiles = _self.addedLocalFiles.concat(_self.addedLocalFilesDetails);
                    _self.selectedMediaFiles = _self.selectedMediaFiles.concat(_self.addedLocalFilesDetails);

                    _self.addedLocalFiles = [];
                    _self.addedLocalFilesBlob = [];
                    _self.addedLocalFilesDetails = [];
                }, 1000)
            },
            storeFileDetails(file) {
                let _self = this;

                _self.recentAddedFile = {
                    from: 'local', // Custom for `selectedMediaFiles`
                    lastModified: file.lastModified,
                    lastModifiedDate: file.lastModifiedDate,
                    name: file.name,
                    size: file.size,
                    type: file.type,
                    webkitRelativePath: file.webkitRelativePath
                };

                _self.addedLocalFilesDetails.push(_self.recentAddedFile);
            },
            okStaging() {
                try {
                    if (this.uploaderType === UPLOAD_TYPE.FILE_SINGLE) {
                        window.sessionStorage.setItem(this.sessionStorageForSingle, JSON.stringify(this.selectedMediaFiles[0]));
                        document.querySelector(`#c-${this.forElement}`).setAttribute('src', this.selectedMediaFiles[0].src);
                        this.addedLocalFiles = [];
                        this.$bvModal.hide(this.modalId);

                        return
                    }

                    if (this.uploaderType === UPLOAD_TYPE.FILE_MULTIPLE || this.type === UPLOAD_TYPE.FILE_TYPE_FILES) {
                        window.sessionStorage.setItem(this.sessionStorageForMultiple, JSON.stringify(this.selectedMediaFiles));
                        this.$root.$emit('get::staging::added', this.selectedMediaFiles);
                        this.addedLocalFiles = [];
                        this.$bvModal.hide(this.modalId);
                    }
                } catch (e) {
                    this.showToastError("Error", "There was an error in selecting media files");
                }
            },
            cancelStaging() {
                this.$bvModal.hide(this.modalId);
            },
            onModalShow() {
                let _self = this;

                this.$refs.refSearchMediaName.$el.focus();

                if (!_self.isLoadingS3) {
                    _self.s3 = [];

                    // Sets selected files
                    window.sessionStorage.setItem(_self.sessionStorageForMultiple, JSON.stringify(this.addedFiles));

                    // Get selected files from session
                    let sessionMediaFile = window.sessionStorage.getItem(_self.sessionStorageForMultiple);
                    if (sessionMediaFile) {
                        _self.selectedMediaFiles = JSON.parse(sessionMediaFile);
                    }

                    _self.getS3Files(true);
                }
            },
            onModalHidden() {
                this.clearAllMedia();
                this.resetFilters();
            },
            searchMedia() {
                this.searchedKey = this.searchMediaName;
                this.getS3Files(true);
            }
        },
        mixins: [mixin]
    };
</script>
<style lang="scss" scoped>
    @import "../assets/scss/variables-override";
    @import "../assets/scss/uploader";

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
    }

    .fiberpos-uploader {
        &-container {
            height: 70vh;
        }

        &__title {
            margin: 0;

            i {
                margin-right: 15px;
            }
        }
    }

    .s3-files-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(55vh - 6px);
        list-style: none;
        margin: 0;
        overflow: hidden auto;
        padding: 10px 0 0;
        width: 100%;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &--empty {
            align-items: center;
            display: flex;
            height: 62vh;
            justify-content: center;
        }

        &--loader {
            align-items: center;
            display: flex;
            min-height: 50px;
        }

        &-item {
            $s3Item: &;

            display: inline-block;
            list-style: none;
            margin: 0 0 15px;
            padding: 0;
            text-align: center;
            width: calc(100% / 3);

            &__container {
                border: 1px solid #e2e2e2;
                margin: 0 15px 0 0;
                position: relative;

                &--not-image {
                    height: 100%;

                    #{$s3Item}__file {
                        align-items: center;
                        background: rgba(226, 226, 226, .35);
                        display: flex;
                        height: calc(100% - 40px);
                        justify-content: center;
                        min-height: 133px;

                        i {
                            font-size: 5rem;

                            &.fa-file-pdf {
                                color: #f61b01;
                            }

                            &.fa-file-word,
                            &.fa-file-alt {
                                color: #295491;
                            }
                        }
                    }
                }
            }

            &__image {
                background: rgba(226, 226, 226, .35);
                position: relative;
            }

            &__name {
                @include text-clamp(1);
                margin: 8px 10px;
            }

            &--is-checked {
                cursor: pointer;
                position: absolute;
                right: -10px;
                top: -10px;

                i {
                    background: #fff;
                    border-radius: 50%;
                    color: map_get($theme-colors, 'success');
                    font-size: 20px;
                }
            }
        }
    }

    .media-search-filter {
        &__button {
            i {
                color: #fff;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }

    @media(max-width: 1366px) {
        .s3-files-list {
            height: calc(53vh - 6px);

            &--empty {
                height: calc(61vh - 6px);
            }

            &-item {
                flex-basis: 33.33%;
            }
        }
    }

    @media(max-width: 1024px) {
        .s3-files-list {

            &--empty {
                height: calc(58vh - 6px);
            }

            &-item {
                flex-basis: 33.33%;
            }
        }
    }

    @media(max-width: 768px) {
        .s3-files-list {
            height: calc(49vh - 6px);

            &--empty {
                height: calc(53vh - 6px);
            }

            &-item {
                flex-basis: 50%;
            }
        }
    }

    @media(max-width: 640px) {
        .s3-files-list {
            &-item {
                flex-basis: 100%;
            }
        }
    }
</style>
