<template>
    <div
        ref="imageContainer"
        class="image-box"
        :class="classPreloader"
        :style="`${containerDimension}; ${stylePreloader}`"
    >
        <!-- this will make the image vertically and horizontally align regarding of its dimension -->
        <div class="image-box__image-container">
            <div class="image-box__outer-aligner">
                <div class="image-box__inner-aligner">
                    <img
                        ref="image"
                        class="image-box__img"
                        :class="imageHidden"
                        :src="imgSrc"
                        :style="`${imageDimension};`"
                        :alt="alt"
                        :title="title"
                    >
                </div>
            </div>
        </div>
        <!--for navigation purpose only since we're not permitting to add a text in the link-->
        <a class="image-box__navigation" :href="href" :target="target" v-if="href !== null"></a>
    </div>
</template>

<script>
    import {addImageProcess, responsiveImageObserver, addToLazyLoadUponScroll} from "../assets/js/util";
    import {NO_IMAGE, SPINNER} from "../assets/js/utility/blob-images";

    function _addImagePreloader() {
        if (!this.imgPreloader) {
            this.imgSrc = this.src;

            return;
        }

        const image = this.$refs.image;

        addImageProcess(this.src).then(imgSrc => {
            this.imgSrc = imgSrc;
            image.className = 'image-box__img';

            if (this.isResponsive) {
                responsiveImageObserver.observe(this.$refs.imageContainer);
                this.$refs.imageContainer.style = `width: ${this.width}`;
            }

            this.mutatedPreloader = false;
        }).catch(rejected => {
            // if image not found on the server then replace it with the default image instead
            this.imgSrc = NO_IMAGE;

            image.className = 'image-box__img';

            if (this.isResponsive) {
                responsiveImageObserver.observe(this.$refs.imageContainer);
                this.$refs.imageContainer.style = `width: ${this.width}; border: 1px solid #dee2e6;`;
            }

            this.mutatedPreloader = false;
        });
    }

    function _calculateContainerDimension(width) {
        const imageWidth = parseInt(width);
        const aspectRatio = 1 / 1;
        const dimension = imageWidth * (aspectRatio) / 2;

        return `width: ${imageWidth}%; padding: ${dimension}%;`
    }

    function _isWidthPercent(width) {
        return /[0-9]+\%/.exec(width) !== null;
    }

    function _lazyLoad() {
        const _self = this;

        const imageContainer = _self.$refs.imageContainer;
        let boundingClientRect = imageContainer.getBoundingClientRect();

        if ((imageContainer.offsetParent !== null) && boundingClientRect.top < window.innerHeight) {
            _addImagePreloader.call(_self);

            return;
        }

        addToLazyLoadUponScroll({
            elem: imageContainer,
            callback: function () {
                _addImagePreloader.call(_self);
            }
        });
    }

    export default {
        name: "ImageBox",
        props: {
            // file path of the image
            src: {
                required: true,
            },
            // width of the image
            // NOTE: if not set the image is responsive relative to it's container
            width: {
                type: String,
                required: false,
                default() {
                    return '100%';
                }
            },
            // for navigation purpose only
            // whenever image needs a link inside
            href: {
                required: false,
                default: null
            },
            target: {
                required: false,
                default: null
            },
            alt: {
                type: String,
                required: false,
                default() {
                    return '';
                }
            },
            // title of the image file itself
            title: {
                type: String,
                required: false,
                default() {
                    return '';
                }
            },
            height: {
                type: String,
                required: false
            },
            preloader: {
                required: false,
                default() {
                    return true;
                }
            },
            lazyLoad: {
                required: false,
                type: Boolean,
                default() {
                    return false;
                }
            }
        },
        data() {
            return {
                mutatedPreloader: this.preloader,
                imgSrc: !this.imgPreloader ? '#' : this.src
            }
        },
        computed: {
            imgHeight() {
                // if image height is not define then set the height to image width since it is required props
                if (this.height === null || this.height === undefined) {
                    return this.width;
                }

                // if image height is not equal to image width then just follow the image width
                if (this.width !== this.height) {
                    return this.width;
                }

                return this.height;
            },
            imgPreloader() {
                if (this.mutatedPreloader === '0' ||
                    this.mutatedPreloader === 'false' ||
                    this.mutatedPreloader === false) {
                    return false;
                }

                return this.mutatedPreloader === '1' ||
                    this.mutatedPreloader === 'true' ||
                    this.mutatedPreloader === true;
            },
            classPreloader() {
                return this.imgPreloader ? 'image-box--preloader' : '';
            },
            stylePreloader() {
                let spinnerImage = `background-image: url(${SPINNER})`;

                if (this.isResponsive) {
                    return `background-size: 30%; ${spinnerImage}`;
                }

                return this.imgPreloader ? `background-size: ${parseInt(this.width) * .55}px; ${spinnerImage}` : '';
            },
            isResponsive() {
                return _isWidthPercent(this.width);
            },
            imageHidden() {
                return this.imgPreloader ? 'image-box__img--hidden' : '';
            },
            containerDimension() {
                if (this.isResponsive) {
                    return _calculateContainerDimension(this.width);
                }

                return `width: ${this.width}; height: ${this.imgHeight};`;
            },
            imageDimension() {
                if (this.isResponsive) {
                    // let the responsiveImageObserver do the job
                    return '';
                }

                return `max-width: ${this.width}; max-height: ${this.imgHeight};`;
            }
        },
        mounted() {
            const _self = this;

            if (!this.lazyLoad) {
                _addImagePreloader.call(_self);

                return;
            }

            _lazyLoad.call(_self);
        },
        watch: {
            src(value) {
                this.imgSrc = value;

                _addImagePreloader.call(this);
            }
        }
    }
</script>

<style scoped lang="scss">
    .image-box {
        overflow: hidden;
        position: relative;

        &--preloader {
            background-color: #e2e2e2;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__image-container {
            height: 110%;
            left: -5%;
            position: relative;
            top: -5%;
            width: 110%;
        }

        &__outer-aligner {
            display: table;
            height: 100%;
            width: 100%;
        }

        &__inner-aligner {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        &__img {
            max-height: 100%;
            max-width: 100%;

            &--hidden {
                display: none;
            }
        }

        &__navigation {
            bottom: 0;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
</style>
