<template>
    <div ref="refStaging" class="staging" :class="`pt-3 ${borderClass}`">
        <ul
            ref="refStagingList"
            class="staging-list"
            :class="customCssClasses"
            :style="customStyles"
            v-show="currentAddedFiles.length"
        >
            <li
                class="staging-list-item"
                :title="item.name"
                :key="item.id"
                v-for="item in selectedMediaFiles"
            >
                <div
                    class="staging-list-item__container"
                    :class="{'staging-list-item__container--not-image': !isFileTypeImage(item)}"
                >
                    <div class="staging-list-item__image" v-if="isFileTypeImage(item)">
                        <image-box
                            :src="item.src"
                            :title="item.name"
                            :href="item.src"
                            :target="'_blank'"
                            v-if="item.from === 's3'"
                        ></image-box>

                        <image-box
                            :src="item.src"
                            :title="item.name"
                            v-if="item.from === 'local'"
                        ></image-box>
                    </div>

                    <div class="staging-list-item__file" v-if="isFileTypeGeneral(item)">
                        <a :href="item.src" target="_blank">
                            <i :class="isWhichFile(item)"></i>
                        </a>
                    </div>

                    <div class="staging-list-item__details">
                        <div class="staging-list-item__name"><span>{{ item.name }}</span></div>
                    </div>
                    <div
                        class="staging-list-item__remove"
                        v-if="!isReadOnly"
                        @click="removeFromStaging(item.id, item.name, modalId, isFromModal)"
                    >
                        <i class="fa fa-times-circle"></i>
                    </div>
                </div>
            </li>
        </ul>

        <div
            class="staging-list--empty"
            v-show="!currentAddedFiles.length"
            @click="$parent.$bvModal.show(`${modalId}`)"
        >
            <h4 class="text-center">
                <i class="fa fa-exclamation-triangle text-danger pr-2"></i> No Files attached
                <br/>
                <span v-if="!isFromModal">Click here to add a file</span>
            </h4>
        </div>
    </div>
</template>
<script>
    import ImageBox from "./UploaderImageBox";
    import mixin from '../mixins';

    export default {
        components: {
            ImageBox
        },
        props: {
            modalId: {
                type: String,
                default: ''
            },
            currentAddedFiles: {
                type: Array,
                default: () => {
                    return []
                }
            },
            customStyles: {
                type: String,
                default: ''
            },
            customCssClasses: {
                type: String,
                default: ''
            },
            borderClass: {
                type: String,
                default: 'border'
            },
            isFromModal: {
                type: Boolean,
                default: false
            },
            isReadOnly: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                selectedMediaFiles: this.currentAddedFiles
            }
        },
        methods: {
            forceRerender(newValue) {
                let _self = this;
                this.selectedMediaFiles = newValue;
                setTimeout(function () {
                    _self.$forceUpdate();
                }, 250)
            },

            removeFromStaging(id, name, modalId, isFromModal) {
                // Uploader will use this when `type` is `files` and remove file occurred in the modal and not in the page
                if (isFromModal) {
                    this.$root.$emit('on::modal::staging::remove', {
                        id,
                        name,
                        modalId
                    });

                    return;
                }

                this.$root.$emit('on::staging::remove', {
                    id,
                    name,
                    modalId
                });
            },
        },
        watch: {
            currentAddedFiles: {
                handler: function (newValue) {
                    this.$nextTick(() => {
                        this.forceRerender(newValue)
                    });
                },
                deep: true
            }
        },
        mixins: [mixin]
    };
</script>
<style scoped lang="scss">
    @import '../assets/scss/variables-override';
    @import "../assets/scss/uploader";

    .staging {
        background: #fff;
        min-height: 400px;
    }

    .staging-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        height: 60vh;
        overflow: hidden auto;
        padding: 15px;
        width: 100%;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 4px;
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        &--height-auto {
            height: auto;

            & > li > div.staging-list-item__container--not-image {
                height: 100%;
            }

            .staging-list-item {
                &__name {
                    @include text-clamp(1);
                }
            }
        }

        &-item {
            $stagingItem: &;

            display: inline-block;
            list-style: none;
            margin: 0 0 15px 0;
            padding: 0;
            text-align: center;
            width: calc(100% / 4);

            &__container {
                border: 1px solid #e2e2e2;
                margin: 0 15px 0 0;
                position: relative;

                &--not-image {
                    #{$stagingItem}__file {
                        align-items: center;
                        background: rgba(226, 226, 226, .35);
                        display: flex;
                        height: calc(100% - 40px);
                        justify-content: center;
                        min-height: 133px;

                        a {
                            color: #646c9a;
                        }

                        i {
                            font-size: 5rem;

                            &.fa-file-pdf {
                                color: #f61b01;
                            }

                            &.fa-file-word,
                            &.fa-file-alt {
                                color: #295491;
                            }
                        }
                    }
                }
            }

            &__image {
                background: rgba(226, 226, 226, .35);
                position: relative;
            }

            &__remove {
                cursor: pointer;
                position: absolute;
                right: -10px;
                top: -10px;

                i {
                    background: #fff;
                    border-radius: 50%;
                    color: map_get($theme-colors, 'danger');
                    font-size: 20px;
                }
            }

            &__name {
                @include text-clamp(2);
                margin: 8px 10px;
            }
        }

        &--empty {
            align-items: center;
            display: flex;
            height: 58vh;
            justify-content: center;
        }
    }



    @media(max-width: 1366px) {
        .staging-list {
            height: 57vh;

            &-item {
                flex-basis: 33.33%;
            }
        }
    }

    @media(max-width: 1024px) {
        .staging-list {
            height: 56vh;

            &--empty {
                height: 55vh;
            }

            &-item {
                flex-basis: 33.33%;
            }
        }
    }

    @media(max-width: 768px) {
        .staging-list {
            height: 50vh;

            &-item {
                flex-basis: 50%;
            }
        }
    }

    @media(max-width: 640px) {
        .staging-list {
            height: calc(54vh - 6px);

            &-item {
                flex-basis: 100%;
            }
        }
    }
</style>