<template>
    <div ref="refsTrigger">
        <div v-if="isUploaderTypeSingle">
            <slot name="before"></slot>

            <b-button
                variant="primary"
                :class="cssClass"
                v-b-modal="modalId"
            >
                <slot name="text"></slot>
            </b-button>
        </div>

        <!-- BEGIN NOTE: DEPRECATED CODE FOR UPLOADER_TYPE -->
        <uploader-cropper :for-element="forElement" v-if="isTypeAvatar">
            <slot></slot>
        </uploader-cropper>

        <b-button
            variant="primary"
            :class="cssClass"
            v-b-modal="modalId"
            v-if="isTypeFiles"
        >
            <slot></slot>
        </b-button>
        <!-- END NOTE: DEPRECATED CODE FOR UPLOADER_TYPE -->
    </div>
</template>
<script>
    import UploaderCropper from './UploaderCropper';

    import * as UPLOAD_TYPE from "../assets/js/utility/upload-types";
    import mixin from '../mixins';

    export default {
        components: {
            UploaderCropper
        },

        props: {
            type: {
                required: false,
                type: String
            },
            forElement: {
                required: false,
                type: String
            },
            modalId: {
                required: false,
                type: String,
                default: ''
            },
            cssClass: {
                required: false,
                type: String,
                default: ''
            },
            uploaderType: {
                required: false,
                type: String,
                default: 'multiple'
            },
            fileType: {
                required: false,
                type: String,
                default: 'image'
            },
        },

        computed: {
            // NOTE: DEPRECATED CODE FOR UPLOADER_TYPE
            isTypeFiles() {
                return this.type === UPLOAD_TYPE.FILE_TYPE_FILES
            },

            // NOTE: DEPRECATED CODE FOR UPLOADER_TYPE
            isTypeAvatar() {
                return this.type === UPLOAD_TYPE.FILE_TYPE_AVATAR
            },

            // NOTE: TO REFACTOR ON CLEANUP
            isUploaderTypeSingle() {
                return this.uploaderType === UPLOAD_TYPE.FILE_SINGLE
            },

            isUploaderTypeMultiple() {
                return this.uploaderType === UPLOAD_TYPE.FILE_MULTIPLE
            }
        },
        mixins: [mixin]
    };
</script>
<style scoped lang="scss">
</style>
