<template>
    <div ref="refCropper">
		<span @click="$refs.fileInput.click()">
			<slot></slot>
		</span>

        <input
            ref="fileInput"
            name="imgFile"
            accept="image/*"
            type="file"
            class="d-none"
            @change="setImage"
        />

        <b-modal
            class="modal-cropper"
            size="xl"
            :id="`modalCropper_${forElement}`"
            @shown="onModalShow"
            @hidden="onModalHidden"
        >
            <template slot="modal-header" slot-scope="{ hide }">
                <h5 class="modal-cropper__title">
                    <i class="fa fa-photo-video"></i>Image Cropper
                </h5>
            </template>

            <template slot="default">
                <div class="row">
                    <div class="col-md-8 border-right">
                        <vue-cropper
                            ref='cropper'
                            drag-mode="crop"
                            preview=".preview"
                            alt="Source Image"
                            :guides="true"
                            :view-mode="2"
                            :src="imgSrc"
                            :responsive="true"
                            :auto-crop-area="0.75"
                            :min-container-width="180"
                            :min-container-height="180"
                            :background="true"
                            :rotatable="false"
                            :aspectRatio="1"
                            :img-style="{ 'width': '436px', 'height': '436px' }"
                        ></vue-cropper>
                    </div>
                    <div class="col-md-4">
                        <div v-show="!cropImg.length">
                            <h4>Image Preview:</h4>
                            <div class="preview img-fluid"></div>
                        </div>
                        <div v-show="cropImg.length">
                            <h4>Cropped Image:</h4>
                            <img class="img-fluid w-100" :src="cropImg" v-if="cropImg.length">
                        </div>
                    </div>
                </div>
            </template>

            <template slot="modal-footer" slot-scope="{ hide }">
                <b-button size="md" variant="primary" v-if="imgSrc != ''" @click="cropImage">
                    <i class="fa fa-crop"></i>Crop
                </b-button>
                <b-button size="md" variant="success" v-if="cropImg != ''" @click="saveImage">
                    <i class="fa fa-save"></i>Use this Image
                </b-button>
                <b-button size="md" variant="danger" @click="hide()">
                    <i class="fa fa-times-circle"></i>Cancel
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
    import ImageBox from './UploaderImageBox';
    import VueCropper from 'vue-cropperjs';
    import mixin from '../mixins';

    export default {
        components: {
            ImageBox,
            VueCropper
        },
        props: {
            forElement: {
                required: true,
                type: String
            },
            uploaderType: {
                required: false,
                type: String,
                default: 'multiple'
            },
            fileType: {
                required: false,
                type: String,
                default: 'image'
            },
            allowedMimeTypes: {
                required: false,
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                imgSrc: '',
                cropImg: '',
                selectedFile: {},
                sessionStorageDataUrl: `fiberpos_media_file_${this.forElement}`
            };
        },
        methods: {
            onModalShow() {
                let _self = this;
                this.$refs.cropper.$el.addEventListener('cropmove', function (event) {
                    if (event.detail.action === 'all') {
                        _self.cropImg = '';
                    }
                });

                _self.$refs.fileInput.value = '';
            },
            onModalHidden() {
                this.cropImg = '';
                this.imgSrc = '';
            },
            setImage(e) {
                let $this = this;
                const file = e.target.files[0];

                let errorMessage = $this.validateFile(file, $this.allowedMimeTypes);
                if (errorMessage) {
                    $this.showToastError('Invalid File Type', errorMessage);
                    return;
                }

                $this.$bvModal.show(`modalCropper_${this.forElement}`);

                if (typeof FileReader === 'function') {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        $this.imgSrc = event.target.result;
                        // rebuild cropperjs with the updated source
                        $this.$refs.cropper.replace(event.target.result);
                    };
                    reader.readAsDataURL(file);
                    $this.storeFileDetails(file);
                } else {
                    alert('Sorry, FileReader API not supported');
                }
            },
            cropImage() {
                // get image data for post processing, e.g. upload or setting image src
                this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
            },
            saveImage() {
                this.selectedFile.src = this.cropImg;

                if (this.uploaderType) {
                    let _uploaderModal = this.$parent.$parent.$parent;

                    _uploaderModal.addImageFromCropper(this.selectedFile);

                    this.$bvModal.hide(`modalCropper_${this.forElement}`);
                    return;
                }

                window.sessionStorage.setItem(this.sessionStorageDataUrl, JSON.stringify(this.selectedFile));
                this.$bvModal.hide(`modalCropper_${this.forElement}`);
                document.querySelector(`#c-${this.forElement}`).setAttribute('src', this.cropImg);
            },
            storeFileDetails(file) {
                let _self = this;

                _self.selectedFile = {
                    from: 'local',
                    lastModified: file.lastModified,
                    lastModifiedDate: file.lastModifiedDate,
                    name: file.name,
                    size: file.size,
                    type: file.type,
                    webkitRelativePath: file.webkitRelativePath
                };
            }
        },
        mixins: [mixin]
    }
</script>
<style scoped lang="scss">
    @import '~cropperjs/dist/cropper.min.css';
    @import "../assets/scss/uploader";

    .modal-cropper {
        &__title {
            margin: 0;

            i {
                margin-right: 5px;
            }
        }
    }

    .preview {
        height: 400px;
        overflow: hidden;
        width: 400px;
    }
</style>